body {
    max-width: 1200px;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* keeps the navbar in front also while typing in textarea */
    background-color: lightgray;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.padding {
    height: 70px;
}

#canvas {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

.done {
    background-color: aquamarine;
    color: darkgreen;
}