{% extends "base.html" %}

{% block content %}
    <div class="evening">
    <div class="list-nav">
        <h1>🌙 Evening Pages</h1>
        <a href="{% url 'prompts:morning_list' %}">Morning Entries</a>
    </div>
    {% for evening_page in object_list %}
        <p>{{ evening_page.pub_date }}</p>
        <p><strong>3 amazing things that happened today:</strong></p>
        <p>{{ evening_page.three_things|linebreaks }}</p>
        <p><strong>How could I have made today better?</strong></p>
        <p>{{ evening_page.improve|linebreaks }}</p>
        <p><strong>MIT and other plans for tomorrow:</strong></p>
        <p>{{ evening_page.plan|linebreaks }}</p>
        <hr>
    {% endfor %}
    </div>
{% endblock %}