{% extends "base.html" %}

{% block content %}

    <h1>Morning Pages</h1>
    {% for morning_page in object_list %}
        <p>{{ morning_page.pub_date }}</p>
        <p><strong>What would make today great?</strong></p>
        <p>{{ morning_page.great }}</p>
        <p><strong>I am grateful for:</strong></p>
        <p>{{ morning_page.grateful }}</p>
        <p><strong>Daily affirmations: I am...</strong></p>
        <p>{{ morning_page.affirmation }}</p>
        <hr>
    {% endfor %}

{% endblock %}