{% extends "base.html" %}

{% block content %}
    <div class="sunrise">
    <div class="morning">
    <div class="list-nav">
        <h1>🌤 Morning Pages</h1>
        <a href="{% url 'prompts:evening_list' %}">Evening Entries</a>
    </div>
    {% for morning_page in object_list %}
        <p>{{ morning_page.pub_date }}</p>
        <p><strong>What would make today great?</strong></p>
        <p>{{ morning_page.great }}</p>
        <p><strong>I am grateful for:</strong></p>
        <p>{{ morning_page.grateful }}</p>
        <p><strong>Daily affirmations: I am...</strong></p>
        <p>{{ morning_page.affirmation }}</p>
        <hr>
    {% endfor %}
    </div>
    </div>
{% endblock %}