{% extends "base.html" %}

{% block content %}

    <div class="morning">
    <div class="list-nav">
        <h1>🌤 Morning Pages</h1>
        <a href="{% url 'prompts:evening_list' %}">Evening Entries</a>
        <a href="{% url 'prompts:morning' %}" class="icon-link">🌤</a>
        <a href="{% url 'prompts:evening' %}" class="icon-link">🌙</a>
        <a href="{% url 'canvas:write' %}" class="icon-link">✏️</a>
    </div>
    {% for morning_page in object_list %}
        <p>{{ morning_page.pub_date }}</p>
        <p><strong>What would make today great?</strong></p>
        <p>{{ morning_page.great|linebreaks }}</p>
        <p><strong>I am grateful for:</strong></p>
        <p>{{ morning_page.grateful|linebreaks }}</p>
        <p><strong>Daily affirmations: I am...</strong></p>
        <p>{{ morning_page.affirmation|linebreaks }}</p>
        <hr>
    {% endfor %}
    </div>

{% endblock %}