{% extends 'base.html' %}

{% block content %}
    <nav>
        <p>Daily Writing</p>
        <p id="message"></p>
        <p id="word-count">Words remaining: 750</p>
    </nav>

    <div class="padding"></div>

    <form action="" method="post">
        <textarea id="canvas" autofocus></textarea>
        <input type="submit" id="check-words">
    </form>

    <script>
        // feedback logic to count the remaining words while typing

        let totalWords = 750;

        $('#canvas').keyup( function(event) {
            if (event.keyCode == 32 || event.keyCode == 13) {  // on spacebar or enter press event
                let words = $('#canvas').val().split(/\n| /);  // regex for newlines OR whitespace chars
                let wordCount = totalWords - (words.length - 1);  // because then the count works
                $('#word-count').text("Words remaining: " + wordCount)  // update the word count in the nav bar
                if (wordCount <= 0) {
                    $('nav').addClass("done");
                    $('#message').text("Well done!")
                } else {
                    $('nav').removeClass("done");
                    $('#message').text("")
                }
            }
        });
    </script>

{% endblock %}